<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length>0){%>
            <ul>
                <% products.forEach(p =>{ %>
                    <li>
                       <p><%= p.title %>(<%= p.quantity %>)</p> 
                       <form action="/deleteCartproduct" method="POST">
                           <input type="hidden" name="productId" value="<%=p._id%>">
                           <button class="btn" type="submit">Delete</button>
                       </form>
                    </li>
                 <% }) %>   
            </ul>
            <hr>
<form action="/orders" method="POST">
<button type="submit" class="btn">
    Order !
</button>
</form>
            <% } else { %>
                <h1>No products found</h1>
                <% } %>

    </main>
    <%- include('../includes/end.ejs') %>
 