<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% let total = 0 %>
        <% if(products.length>0){ %>
            <ul class="list-container">
                <% products.forEach(p =>{ %>
                    <li class="list-item-cart">
                        <div class="item-image">
                        <img src="/<%= p.productId.imageUrl %>" alt="" width="80px" height="80px">
                        </div>
                        <div class="info-div">
                        <p><%= p.productId.title %> X <%= p.quantity %></p>
                        
                    </div>
                       <div class="delete-div"> <form action="/deleteCartproduct" method="POST">
                        <input type="hidden" name="productId" value="<%=p.productId._id%>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" style="background-color: red !important; color: white;" type="submit">Delete</button>
                    </form></div>
                    <div class="price-div">
                        ₹<%=  p.quantity * p.productId.price %>
                    </div>
                    </li>
                    <% total = total + (p.productId.price * p.quantity ) %>
                 <% }) %>   
            </ul>
             <div class="total-price-div">
                <center><h3>Grand Total : <%= total %></h3></center>
             </div>
            <center>
                <!-- <form action="/orders" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn">
                        Order !
                    </button>
                    </form> -->
                    <a class="btn" href="/checkout">Order Now !</a>
            </center>

            <% } else { %>
                <h1>No products found</h1>
                <% } %>

    </main>
    <%- include('../includes/end.ejs') %>
 