<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% let total = 0 %>
        <ul class="list-container">
            <% products.forEach(p =>{ %>
                <li class="list-item-cart">
                    <div class="item-image">
                    <img src="/<%= p.productId.imageUrl %>" alt="" width="80px" height="80px">
                    </div>
                    <div class="info-div">
                    <p><%= p.productId.title %> X <%= p.quantity %></p>
                    
                </div>
                 
                <div class="price-div">
                    ₹<%=  p.quantity * p.productId.price %>
                </div>
                </li>
                <% total = total + (p.productId.price * p.quantity ) %>
             <% }) %>   
        </ul>
        <div>
            <center>
                <h2>Total : <%= totalSum %></h2>
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51OizmjSJO9ruBYiaWxrdPGqNnZxWfg6nyiT3U00alEXvX9MkV4cyE4ODkKC23c5gKEeYMhBhRviRg9AETDKuq5b900eCzzmgGc');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click',function(){
                      stripe.redirectToCheckout({
                        sessionId : '<%= sessionId %>'
                      });
                    });
                </script>
            </center>
            
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
 