<%- include('../includes/head.ejs')%>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% let total = 0 %>
        <ul class="list-container">
            <% products.forEach(p =>{ %>
                <li class="list-item-cart">
                    <div class="item-image">
                    <img src="/<%= p.productId.imageUrl %>" alt="" width="80px" height="80px">
                    </div>
                    <div class="info-div">
                    <p><%= p.productId.title %> X <%= p.quantity %></p>
                    
                </div>
                 
                <div class="price-div">
                    ₹<%=  p.quantity * p.productId.price %>
                </div>
                </li>
                <% total = total + (p.productId.price * p.quantity ) %>
             <% }) %>   
        </ul>
        <div>
            <center>
                <h2>Total : <%= totalSum %></h2>
                <form action="/checkout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button id="order-btn" type="submit" class="btn">ORDER</button>
                </form>
                
                
            </center>
            
        </div>
    </main>
    <%- include('../includes/end.ejs') %>
 